(
    graph: (
        nodes: [
            (
                clip: None,
                mask: 0,
                weight: 1.0,
                additive: false,
            ),
            (
                clip: None,
                mask: 0,
                weight: 0.5,
                additive: false,
            ),
            (
                clip: Some(AssetPath("models/animated/Fox.glb#Animation0")),
                mask: 0,
                weight: 1.0,
                additive: false,
            ),
            (
                clip: Some(AssetPath("models/animated/Fox.glb#Animation1")),
                mask: 0,
                weight: 1.0,
                additive: false,
            ),
            (
                clip: Some(AssetPath("models/animated/Fox.glb#Animation2")),
                mask: 0,
                weight: 1.0,
                additive: false,
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [
            Some((0, 1, ())),
            Some((0, 2, ())),
            Some((1, 3, ())),
            Some((1, 4, ())),
        ],
    ),
    root: 0,
    mask_groups: {},
)
