(
    size: (64, 24),
    textures: [
        (min: (0, 8), max: (16, 24)),
        (min: (16, 8), max: (32, 24)),
        (min: (32, 8), max: (48, 24)),
        (min: (48, 8), max: (64, 24)),
    ]
)