(
    boolean: true,
    float: 8.2,
    map: {
        1: '1',
        2: '4',
        3: '9',
        4: '1',
        5: '2',
        6: '3',
    },
    nested: (
        a: "Decode me!",
        b: 'z',
    ),
    tuple: (
        3,
        7,
    ),
)