[

  (
    entity: 0,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "value": {
          "translation": (0.0, 0.0, 0.0),
          "rotation": (0.0, 0.0, 0.0, 1.0),
          "scale": (1.0, 1.0, 1.0),
        },
      },
      {
        "type": "scene::ComponentB",
        "value": {
          "value": "hello",
        },
      },
      {
        "type": "scene::ComponentA",
        "value": {
          "x": 1.0,
          "y": 2.0,
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "scene::ComponentA",
        "value": {
          "x": 3.0,
          "y": 4.0,
        },
      },
    ],
  ),
]
