<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graphics.pathfinder.pathfinderdemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.software.vr.mode"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.vr.high_performance"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PathfinderDemoActivity"
            android:configChanges="density|navigation|orientation|keyboardHidden|screenSize|uiMode"
            android:label="@string/app_name"
            android:resizeableActivity="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!--
     This marks the Activity as a Daydream Activity and allows it
     to be launched from the Daydream Home.
                -->
                <category android:name="com.google.intent.category.DAYDREAM" />

                <!--
                     This marks the Activity as a Cardboard Activity and allows it
                     to be launched from the Cardboard app.
                -->
                <category android:name="com.google.intent.category.CARDBOARD" />

                <!--
                     This allows this Activity to be launched from the traditional
                     Android 2D launcher as well. Remove it if you do not want
                     this Activity to be launched directly from the 2D launcher.
                -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PathfinderDemoVRListenerService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_VR_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.vr.VrListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".PathfinderDemoFileBrowserActivity"
            android:label="@string/title_activity_pathfinder_demo_file_browser"></activity>
    </application>

</manifest>